notes.txt
nbproject/
docs/
Dockerfile
.phpunit.result.cache

# Managed by Composer
/bin/*
!bin/console
/vendor/
composer.lock

# PHPUnit
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
