xsd2php:
  namespaces:
    'http://ddex.net/xml/ern/341': 'DedexBundle/Entity/Ern341'
    'http://ddex.net/xml/ern/371': 'DedexBundle/Entity/Ern371'
    'http://ddex.net/xml/ern/381': 'DedexBundle/Entity/Ern381'
    'http://ddex.net/xml/ern/382': 'DedexBundle/Entity/Ern382'
    'http://ddex.net/xml/ern/383': 'DedexBundle/Entity/Ern383'
    'http://ddex.net/xml/ern/41': 'DedexBundle/Entity/Ern41'
    'http://ddex.net/xml/ern/411': 'DedexBundle/Entity/Ern411'
    'http://ddex.net/xml/avs/avs': 'DedexBundle/Entity/Avs'
    'http://ddex.net/xml/20120404/ddexC': 'DedexBundle/Entity/DdexC'
    'http://ddex.net/xml/20120404/ddex': 'DedexBundle/Entity/Ddex'
    'http://ddex.net/xml/20120404/iso639a2': 'DedexBundle/Entity/ISO638A2'
    'http://ddex.net/xml/20120404/iso4217a': 'DedexBundle/Entity/ISO4217A'
    'http://ddex.net/xml/20120404/iso3166a2': 'DedexBundle/Entity/ISO3166A2'

  destinations_php: 
    'DedexBundle\Entity\Ern341': src/Entity/Ern341
    'DedexBundle\Entity\Ern371': src/Entity/Ern371
    'DedexBundle\Entity\Ern381': src/Entity/Ern381
    'DedexBundle\Entity\Ern382': src/Entity/Ern382
    'DedexBundle\Entity\Ern383': src/Entity/Ern383
    'DedexBundle\Entity\Ern41': src/Entity/Ern41
    'DedexBundle\Entity\Ern411': src/Entity/Ern411
    'DedexBundle\Entity\Avs': src/Entity/Avs
    'DedexBundle\Entity\DdexC': src/Entity/DdexC
    'DedexBundle\Entity\Ddex': src/Entity/Ddex
    'DedexBundle\Entity\ISO638A2': src/Entity/ISO638A2
    'DedexBundle\Entity\ISO4217A': src/Entity/ISO4217A
    'DedexBundle\Entity\ISO3166A2': src/Entity/ISO3166A2

  destinations_jms:
    'DedexBundle\Entity\Ern341': src/Entity/Ern341/metadata
    'DedexBundle\Entity\Ern371': src/Entity/Ern371/metadata
    'DedexBundle\Entity\Ern381': src/Entity/Ern381/metadata
    'DedexBundle\Entity\Ern382': src/Entity/Ern382/metadata
    'DedexBundle\Entity\Ern383': src/Entity/Ern383/metadata
    'DedexBundle\Entity\Ern41': src/Entity/Ern41/metadata
    'DedexBundle\Entity\Ern411': src/Entity/Ern411/metadata
    'DedexBundle\Entity\Avs': src/Entity/Avs/metadata
    'DedexBundle\Entity\DdexC': src/Entity/DdexC/metadata
    'DedexBundle\Entity\Ddex': src/Entity/Ddex/metadata
    'DedexBundle\Entity\ISO638A2': src/Entity/ISO638A2/metadata
    'DedexBundle\Entity\ISO4217A': src/Entity/ISO4217A/metadata
    'DedexBundle\Entity\ISO3166A2': src/Entity/ISO3166A2/metadata
 
#  Uncomment this section if you want to have also symfony/validator metadata to be generated from XSD    
#  destinations_validation:
#    'TestNs\MyApp': soap/validation
#    'TestNs\MyApp': soap\validation  #  on Windows
    
#  aliases: # optional
#    'http://www.example.org/test/':
#      MyCustomXSDType:  'MyCustomMappedPHPType'
  naming_strategy: long
#  path_generator: psr4 # optional and default
#  known_locations: # optional
#    "http://ddex.net/xml/ern/382": somefile.xsd
#  known_namespace_locations: # optional
#    "urn:veloconnect:catalog-1.1": xsd/catalog-1.1.xsd
